<script>
  //define name of this vue object
  export default {
      name: 'Login',
      props: {
          msg: String
      },
      data() {
          return {
              form: {
                  email: '',
                  key: ''
              },
              show: true
          }
      },
      methods: {
          onSubmit(evt) {
              evt.preventDefault()
              alert(JSON.stringify(this.form))
          },
          onReset(evt) {
              evt.preventDefault()
              // Reset our form values
              this.form.email = ''
              // Trick to reset/clear native browser form validation state
              this.show = false
              this.$nextTick(() => {
                  this.show = true
              })
          }
      }
  }
</script>

<template>
  <div>
    <div>
      <img alt="SearchImage" src="../assets/transparency.png">
    </div>
    <h1>{{ msg }}</h1>
      <div>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
              <b-form-group
                      id="input-group-1"
                      label="Email address:"
                      label-for="input-1"
                      description="We'll never share your email with anyone else."
              >
                  <b-form-input
                          id="input-1"
                          v-model="form.email"
                          type="email"
                          required
                          placeholder="Enter email"
                  ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-2" label="Your Key:" label-for="input-2"  description="The key is your password, can be changed later">
                  <b-form-input
                          id="input-2"
                          v-model="form.key"
                          required
                          placeholder="Enter key"
                  ></b-form-input>
              </b-form-group>

              <b-button type="submit" variant="primary">Submit</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
      </div>
  </div>
</template>
