<template>
    <div>
        <header>
            <div class="container wappler-block pt-5 pb-5">
                <div class="row">
                    <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <h1>Preferences</h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <b-card  header="Web only Tags" text-variant="black" >
                <b-list-group>
                    <ul v-if="webItems.length">
                        <b-list-group-item class="d-flex justify-content-between align-items-center" v-for="item in webItems" v-bind:key="item.question">
                            {{item.question}}......
                            <b-dropdown id="dropdown-divider" :text=preference[item.value] class="m-2" :variant="actionColors[item.value]">
                                <b-dropdown-item-button v-for="prefy in preference" v-bind:key="prefy" onclick="updatePref(item.question,prefy)">{{prefy}}</b-dropdown-item-button>
                            </b-dropdown>
                        </b-list-group-item>
                    </ul>
                </b-list-group>
            </b-card>
            <b-card  header="Web only Tags" text-variant="black" >
                <b-list-group>
                    <ul v-if="webItems.length">
                    <b-list-group-item class="d-flex justify-content-between align-items-center" v-for="item in webItems" v-bind:key="item.question">
                        {{item.question}}......
                        <b-dropdown id="dropdown-divider" :text=preference[item.value] class="m-2" :variant="actionColors[item.value]">
                            <b-dropdown-item-button v-for="prefy in preference" v-bind:key="prefy" onclick="updatePref(item.question,prefy)">{{prefy}}</b-dropdown-item-button>
                        </b-dropdown>
                    </b-list-group-item>
                    </ul>
                </b-list-group>
            </b-card>
        </div>

    </div>
</template>

<script>

export default {
        name: 'Prefs',
        props: {
            selected: {
                required: true,
                type: Object,
            }
        },
        methods: {
            openDrawer() {
                if(!this.$refs.LeftDrawer.active){
                    this.$refs.LeftDrawer.open();
                }
            },
            updatePref(question, key) {
               if(question != null && key != null){
                   this;
               }
            }
        },
        data() {
            return {
                actionColors: ['primary','secondary','success','danger','warning','info','light','dark'],
                preference: ['ask first', 'never/opposed', 'rarely/not fond', 'sometimes/indifferent','often/interested','always/enthusiastic'],
                webItems: [
                    { question: 'NQuestion', value: 0 },
                    { question: 'NQuestion', value: 1 },
                    { question: 'NQuestion', value: 2 },
                    { question: 'NQuestion', value: 3 },
                    { question: 'NQuestion', value: 4 },
                    { question: 'NQuestion', value: 5 },

                ]
            }
        }
    }
</script>

<style scoped>
    .btn-custom { }
    .btn-custom button { background-image:none; box-shadow:none; border:none; border-radius:9px !important; font-size:11.844px !important; font-weight:bold; padding:0px 9px; }
</style>