<template>
    <div>
        <header>
            <div class="container wappler-block pt-5 pb-5">
                <div class="row">
                    <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <h1>Character</h1></div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-12 col-md-6">
                    <b-carousel
                            id="carousel-1"
                            v-model="slide"
                            :interval="4000"
                            controls
                            indicators
                            background="#ababab"
                            img-width="1024"
                            img-height="480"
                            style="text-shadow: 1px 1px 2px #333;"
                    >


                        <!-- needs fixed size images! -->
                        <b-carousel-slide img-src="https://picsum.photos/1280/1280/?image=58"></b-carousel-slide>
                        <b-carousel-slide img-src="https://picsum.photos/1280/1280/?image=58"></b-carousel-slide>
                    </b-carousel>
                </div>
                <div class="col-12 col-md-6 pt-5 pb-5 text-center">
                    <div class="card">
                        <div class="card-header">Bio</div>
                        <div class="card-body">
                            <b-table hover :items="items" :fields="fields" thead-class="hidden_header"></b-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="pt-4">
            <b-tabs card>
                <b-tab title="Character Description" active>
                    <b-card-text>Tab contents 1</b-card-text>
                </b-tab>
                <b-tab title="Background Story" active>
                    <b-card-text>Tab contents 1</b-card-text>
                </b-tab>
                <b-tab title="Recent Events" active>
                    <b-card-text>Tab contents 1</b-card-text>
                </b-tab>
                <b-tab title="Tags" active>
                    <b-card-text>Tab contents 1</b-card-text>
                </b-tab>
                <b-tab title="Friends" active>
                    <b-card-text>
                        <b-list-group>
                            <b-list-group-item class="d-flex justify-content-between align-items-center">
                                User1
                                <b-badge variant="primary" pill>waifu</b-badge>
                            </b-list-group-item>

                            <b-list-group-item class="d-flex justify-content-between align-items-center">
                                user2
                                <b-badge variant="primary" pill>uwu</b-badge>
                            </b-list-group-item>

                            <b-list-group-item class="d-flex justify-content-between align-items-center">
                                user3
                                <b-badge variant="primary" pill>frien</b-badge>
                            </b-list-group-item>
                        </b-list-group>

                    </b-card-text>
                </b-tab>
            </b-tabs>
        </section>
    </div>
</template>

<script>
    export default {
        name: 'Profile',
        props: {

        },methods: {

        },
        data() {
            return {
                // Note 'isActive' is left out and will not appear in the rendered table
                fields: [
                    {
                        key: 'header',
                        sortable: false
                    },
                    {
                        key: 'value',
                        sortable: false
                    }
                ],
                items: [
                    { isActive: true, header: 'Name', value: 'Lorem ipsum' },
                    { isActive: true, header: 'Identifies as', value: 'Male' },
                    { isActive: true, header: 'Species', value: 'Human' },
                    { isActive: true, header: 'Age', value: '0' },
                    { isActive: true, header: 'Height', value: '0' },
                    { isActive: true, header: 'Weight', value: '0' },
                ]
            }
        }
    }
</script>

<style>
    .hidden_header {
        display: none;
    }
</style>