<template>
    <div>

        <div>
            <b-tabs content-class="mt-3" pills card vertical>
                <b-tab title="Character"><Profile></Profile></b-tab>
                <b-tab title="Preferences"><Preferences></Preferences></b-tab>
                <b-tab title="Search"><Search></Search></b-tab>
                <b-tab title="Login/Logout" active><Login></Login></b-tab>
            </b-tabs>
        </div>
    </div>
</template>

<script>

  //define main page structure
import Profile from "@/components/Profile";
  import Login from "@/components/Login";
  import Search from "@/components/Search";
  import Preferences from "@/components/Preferences";

  export default {
      head() {

          return {
              meta: [
                  { charset: 'utf-8' },
                  { name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' },
                  { name: 'description', content: `Char database` },
                  { name: 'theme-color', content: '#344675' }
              ],
              link: [
                  { rel: 'icon', type: 'image/x-icon', href: '/favicon.png' }
              ]
          }
      },
  name: 'app',
  components: {
    Profile,Preferences,Search,Login
  }
}
</script>

<style lang="scss">
    @import "assets/sass/App";
    @import "~bootstrap/scss/bootstrap.scss";
    @import '~bootstrap-vue/dist/bootstrap-vue.css';
</style>
