@import "../../../node_modules/bootstrap/scss/bootstrap";
$theme-colors: (

"primary":    $pink,
"secondary":  $red,
"success":    $yellow,
"info":       $cyan,
"warning":    $green,
"danger":     $gray-700,
"light":      $gray-700,
"dark":       $dark
);
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 90%;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}